@import url(https://fonts.googleapis.com/css?family=Audiowide);
  
  body{
    width:33%;
	display:center;
	background-color:grey;
	margin:50px;
	padding:50px;
	text-align: center;
    font-family:"Audiowide", sans-serif;
    width: 800px;
    height: 600px;
    margin: 0 auto;
	

	
}

#calc{
	position:center;
    top: 20px;
	text-align: center;
	display: flexbox;
}

#res{
    background-color:lightgray;
    color:brown;
    border:solid;
    height:48px;
    font-size:28px;
}


#btn0{
    background-color:lightgreen;
    color:brown;
}

#btn1{
    background-color:lightgreen;
    color:brown;
}


#btnClr{
    background-color:darkgreen;
    color:white;
}

#btnEql{
    background-color:darkgreen;
    color:white;
}

#btnSum{
    background-color:black;
    color:red;
}

#btnSub{
    background-color:black;
    color:red;
}


#btnMul{
    background-color:black;
    color:red;
}

#btnDiv{
    background-color:black;
    color:red;
}


#btns>*{
    width:25%;
    height:36px;
    font-size:18px;
    margin:0px;
    float:left;
}


  @media (max-width: 480px) {

    #res{
        background-color:lightgray;
        color:brown;
        border:solid;
        height:100px;
        font-size:50px;
    }

    #btns>*{
        width:50%;
        height:70px;
        font-size:50px;
        margin:0px;
        float:left;
    }


  }